<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="text-on-img">
    <div style="width: 600px; height: 600px; background-image: url(https://user-images.githubusercontent.com/55998706/253955432-f3fc3e58-d9e5-4e53-82e4-6100b3242c38.png);">
        <h1 style="font-family: 맑은고딕; color: white; padding-top: 200px; padding-left: 20px">안녕하세요,</h1>
        <h2 style="font-family: 맑은고딕; color: white; padding-left: 20px">PliP에서 보내는 인증 코드입니다.</h2>
        <p style="font-family: 맑은고딕; color:white; padding-left: 20px;"> 아래 코드를 비밀번호 설정 창으로 돌아가 입력해주세요.</p>
        <div align="center"
             style="margin: 40px 20px 0px 20px; align: center; border: thick double white; font-family: verdana;">
            <h3 style="color:blue"> 비밀번호 설정 인증 코드 입니다. </h3>
            <div style="font-size:130%" th:text="${code}"></div>
        </div>
    </div>
</div>
</body>
</html>