<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="text-on-img">
  <div style="width: 600px; height: 600px; background-image: url(https://user-images.githubusercontent.com/55998706/253955432-f3fc3e58-d9e5-4e53-82e4-6100b3242c38.png);">
    <h1 style="font-family: 맑은고딕; color: white; padding-top: 200px; padding-left: 20px">안녕하세요,</h1>
    <h2 style="font-family: 맑은고딕; color: white; padding-left: 20px">PliP에서 소중한 여행 계획이 도착했습니다!</h2>
    <h3 style="font-family: 맑은고딕; color:white; padding-left: 20px;" th:text="${content}"></h3>
    <a th:href="${uri}" target="_blank" style="font-family: 맑은고딕; border-radius: 10px; padding: 5px 5px 5px 5px; text-align: center; color: white; text-decoration: none; margin: 50px 230px; border-style: solid; border-width: 2px; background-color: dodgerblue; border-color: dodgerblue grey grey dodgerblue; display:block;"> 자세히 보기 </a>
  </div>
</div>
</body>
</html>