<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="text-on-img">
    <div style="width: 600px; height: 600px; background-image: url(https://user-images.githubusercontent.com/55998706/253892428-667537fd-21fa-4eef-930e-ccaa3e705af6.png);">
        <h1 style="color: white; padding-top: 150px; padding-left: 20px">안녕하세요,</h1>
        <h2 style="color: white; padding-left: 20px">PliP에서 보내는 인증 코드입니다.</h2>
        <p style="color:white; padding-left: 20px;"> 아래 코드를 회원가입 창으로 돌아가 입력해주세요.</p>
        <div align="center"
             style="margin: 40px 20px 0px 20px; align: center; border: thick double white; font-family: verdana;">
            <h3 style="color:blue"> 회원가입 메일 인증 코드 입니다. </h3>
            <div style="font-size:130%" th:text="${code}"></div>
        </div>
    </div>
</div>
</body>
</html>