<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="text-on-img">
  <div style="width: 600px; height: 600px; background-image: url(https://user-images.githubusercontent.com/55998706/253892428-667537fd-21fa-4eef-930e-ccaa3e705af6.png);">
    <h1 style="color: white; padding-top: 150px; padding-left: 20px">안녕하세요,</h1>
    <h2 style="color: white; padding-left: 20px">PliP 회원가입을 축하드립니다.</h2>
    <h3 style="color:white; padding-left: 20px;">지금 당신의 여행 계획을 PliP에서 디자인해보세요!</h3>
    <a href="https://plip.netlify.app/" target="_blank" style=" padding: 5px 5px 5px 5px; text-align: center; color: black; text-decoration: none; margin: 50px 230px; border-style: solid; border-width: 2px; background-color: dodgerblue; border-color: dodgerblue grey grey dodgerblue; display:block;"> Welcome to PliP </a>
  </div>
</div>
</body>
</html>