.smooth {
  animation-name: smoothAppear;
  animation-duration: 0.5s;
  animation-duration: leaner;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ct {
  background-color: #fe4a49;
  animation: ct 6s infinite;
}

@keyframes ct {
  25% {
    background-color: #2ab7ca;
  }
  50% {
    background-color: #fed766;
  }
  75% {
    background-color: #faa275;
  }
}

.landing {
  animation: landing 10s infinite;
  animation-direction: alternate;
}

@keyframes landing {
  25% {
    background-image: url('/src/assets/imgs/gyeonggi.webp');
  }
  50% {
    background-image: url('/src/assets/imgs/광안대교.webp');
  }
  75% {
    background-image: url('/src/assets/imgs/제주도.webp');
  }

  100% {
    background-image: url('/src/assets/imgs/서울.webp');
  }
}

.opening {
  transition: transform 0.3s ease;
}

.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}
.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}
@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
