.smooth {
  animation-name: smoothAppear;
  animation-duration: 3s;
  animation-duration: leaner;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ct {
  background-color: #fe4a49;
  animation: ct 6s infinite;
}

@keyframes ct {
  25% {
    background-color: #2ab7ca;
  }
  50% {
    background-color: #fed766;
  }
  75% {
    background-color: #faa275;
  }
}

.randing {
  animation: randing 10s infinite;
  animation-direction: alternate;
}

@keyframes randing {
  25% {
    background-image: url('/src/assets/imgs/gyeonggi.webp');
  }
  50% {
    background-image: url('/src/assets/imgs/광안대교.webp');
  }
  75% {
    background-image: url('/src/assets/imgs/제주도.webp');
  }

  100% {
    background-image: url('/src/assets/imgs/서울.webp');
  }
}
