@font-face {
  font-family: 'inter';
  font-weight: 700;
  src: url('/font/Inter-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'inter';
  font-weight: 400;
  src: url('/font/Inter-Regular.ttf') format('ttf');
}

html,
body {
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/* 로고 그라디언트입니다. */
.gradient-text {
  background: linear-gradient(to right, #4568dc, #b06ab3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type='text']:disabled {
  background: #e4e4e4;
}
