html,
body {
  overflow-x: hidden;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('/src/assets/imgs/gyeonggi.webp') url('/src/assets/imgs/광안대교.webp')
    url('/src/assets/imgs/제주도.webp') url('/src/assets/imgs/서울.webp');
}

#root {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/* 로고 그라디언트입니다. */
.gradient-text {
  background: linear-gradient(to right, #4568dc, #b06ab3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type='text']:disabled {
  background: #e4e4e4;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  color: #d9d9d9;
}

/* 스크롤바 설정*/
.plip-scrollbar::-webkit-scrollbar {
  display: block;
  height: 8px;
}

/* 스크롤바 막대 설정*/
.plip-scrollbar::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to right, #4568dc, #b06ab3); */
  background-color: #4568dc;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.plip-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
