@font-face {
  font-family: 'inter';
  src: url('/public/font/Inter-VariableFont_slnt\,wght.ttf');
}

html,
body {
  overflow-x: hidden;
  font-family: 'inter';
}

::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
